# Gradle files
.gradle/
gradle-wrapper.jar
gradlew
gradlew.bat

# Flutter and Dart specific files
/captures/
/local.properties
GeneratedPluginRegistrant.java

# Environment files
.env.development
.env.production

# Keystore files (for Android)
**/*.keystore
**/*.jks
key.properties

# Flutter specific build outputs
build/
flutter_build/
.dart_tool/
.packages
pubspec.lock

# iOS specific build outputs
ios/Flutter/Flutter.podspec
ios/Podfile.lock
ios/Pods
ios/Runner.xcworkspace
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Xcode specific files
*.xcworkspace
*.xcuserdata
*.xcshareddata
*.lock
.DS_Store
.idea/
.project
.classpath
*.iml
*.ipr
